#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	# no clean step needed for header-only package
# Disable automatic configure step (equivalent to do_configure[noexec] = "1")
override_dh_auto_configure:
	# no configure step needed

# Disable automatic build/compile step (equivalent to do_compile[noexec] = "1")
override_dh_auto_build:
	# no build step needed


# Install headers (equivalent to Yocto do_install)
override_dh_auto_install:
	mkdir -p debian/tmp/usr/include/linux
	cp -fr include/uapi/linux/* debian/tmp/usr/include/linux